<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.juwuheback.mapper.ArticlesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ArticlesVOMap" type="com.example.juwuheback.domain.vo.ArticlesVO">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        art
        .
        article_id
        ,
        art.article_title,
        art.article_content,
        art.article_views,
        art.article_comment_count,
        art.article_date
    </sql>

    <select id="selectAllArticles" resultMap="ArticlesVOMap">
        select
        <include refid="Base_Column_List"></include>
        from
        articles art
        <where>
            <if test=" articlesDTO.articleId != null ">
                and art.article_id = #{articlesDTO.articleId}
            </if>
            <if test=" articlesDTO.articleId != null ">
                and art.article_id like ('%'#{articlesDTO.articleId}'%')
            </if>
            <if test=" articlesDTO.startTime != null and articlesDTO.endTime != null">
                and art.article_date between #{articlesDTO.startTime} and #{articlesDTO.endTime}
            </if>
        </where>
    </select>

</mapper>
