<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.juwuheback.mapper.ClassifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.juwuheback.domain.entity.Classify">
        <id column="classify_id" property="classifyId"/>
        <result column="classify_name" property="classifyName"/>
        <result column="parent_classify_id" property="parentClassifyId"/>
        <result column="classify_description" property="classifyDescription"/>
    </resultMap>

    <resultMap id="ClassifyVOSMap" type="com.example.juwuheback.domain.vo.ClassifyVO" autoMapping="true">
        <id column="classify_id" property="classifyId"/>
        <collection property="articleVOList" ofType="com.example.juwuheback.domain.vo.ArticleVO" autoMapping="true">
            <id column="article_id" property="articleId"/>
        </collection>
    </resultMap>

    <resultMap id="ClassifyVOMap" type="com.example.juwuheback.domain.vo.ClassifyVO" autoMapping="true">
        <id column="classify_id" property="classifyId"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        classify_id
        , classify_name, parent_classify_id, classify_description
    </sql>

    <insert id="insertArticleClassify">
        insert into article_classify (article_id, classify_id)
        values (#{articleId}, #{articleId})
    </insert>

    <update id="updateArticleClassify">
        update article_classify
        set classify_id = #{classifyId}
        where article_id = #{articleId}
    </update>

    <delete id="deleteArticleClassifyByArticleId">
        delete
        from article_classify
        where article_id = #{articleId}
    </delete>

    <delete id="deleteBatchArticleClassifyIds">
        delete from article_classify where classify_id in
        <foreach item="item" collection="list" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>


    <select id="selectAll" resultMap="ClassifyVOSMap">
        select
        <include refid="Base_Column_List"/>
        from
        classify
    </select>


    <select id="selectArticleAndClassify" resultMap="ClassifyVOSMap">
        SELECT classify.classify_id,
               classify.classify_name,
               classify.parent_classify_id,
               article.article_id,
               article.article_title,
               article.article_description,
               article.article_publish_date,
               article.is_publish,
               article.article_create_date
        FROM classify
                 LEFT JOIN
             article_classify
             ON
                 classify.classify_id = article_classify.classify_id
                 LEFT JOIN
             article
             ON
                 article_classify.article_id = article.article_id
    </select>

    <select id="selectByArticleId" resultMap="ClassifyVOMap">
        SELECT classify.classify_id,
               classify.classify_name,
               classify.parent_classify_id,
               classify.classify_description
        FROM article_classify
                 LEFT JOIN
             classify
             ON
                 article_classify.classify_id = classify.classify_id
        where article_classify.article_id = #{articled}
    </select>


</mapper>
