<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.juwuheback.mapper.ClassifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.juwuheback.domain.entity.Classify">
        <id column="classify_id" property="classifyId"/>
        <result column="classify_name" property="classifyName"/>
        <result column="parent_classify_id" property="parentClassifyId"/>
        <result column="classify_description" property="classifyDescription"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        classify_id, classify_name, parent_classify_id, classify_description
    </sql>

</mapper>
